:verbatim
  ---
  layout: post
  title: COMING SOON
  itemid: 12345
  thumbnail: 0coming-soon.png
  prijs: €0,00
  price: 0.00
  description: Binnenkort verkgrijgbaar.
  longdesc: Binnenkort zijn hier vele vette kleren te verkrijgen! Haal alvast de super soakers van zolder, prepareer de erwtenschieters, die ene broek die niet vies mag worden van je moeder en je dikke glimlach!
  ---

section.item-detail

  .flex.flex--center
  
    .col-50
      
      .item-img-bundle
        .back-button
          a(href="/webshop.html" class="back")< NAAR OVERZICHT
      
        .item-img
          img(src='/assets/img/posts/thumbnails/{{page.thumbnail}}')
      
    .col-50
      .item-desc-bundle
        .item-name
          a {{page.title}}

        
        .item-description
          p {{page.longdesc}}
    
        .select-size
          p.size-input size
            select.styled-select
              #my-size
              option(value='') Kies een Maat
              option(value='Small') SMALL
              option(value='Medium') MEDIUM
              option(value='Large') LARGE
              option(value='SuperLarge') SUPER LARGE
            
        .select-amount  
          p.numbinput Aantal    
            input(type="number" min="0" id="my-quantity")

          p.prijs {{page.prijs}}
          
        .addtocart-cta
          a(            
            class="snipcart-add-item"
            id="my-button"
            data-item-id="{{page.itemid}}"
            data-item-name="{{page.title}}"
            data-item-price="{{page.price}}"
            data-item-url="{{page.url}}"
            data-item-description="{{page.description}}"
            data-item-quantity="1"
            data-item-custom1-name="Maat"
            data-item-custom1-options="Small|Medium|Large|SuperLarge"
            data-item-custom1-required="true"
            ) IN DE WINKELMAND
        
        .social-share
          div(
            class="fb-like"
            data-share="true"
            data-width="450"
            data-show-faces="true")
        
