:verbatim
  ---
  layout: post
  title: Nog een dikker shirt
  thumbnail: post-4.jpg
  prijs: €30,00
  itemprice: 30.00
  description: Hoe dik wil je het hebben?
  ---

section.item-detail

  .flex.flex--center
  
    .col-50
      
      .item-img-bundle
        a(href="/webshop.html" class="back")< BACK
      
        .item-img
          //it's important to place / before assets, otherwise the link won't work
          img(src='/assets/img/posts/thumbnails/{{page.thumbnail}}')
      
    .col-50
      .attribute
        span size
          select(id="my-size")
            option(value='') Kies een Maat
            option(value='Small') SMALL
            option(value='Medium') MEDIUM
            option(value='Large') LARGE
            option(value='SuperLarge') SUPER LARGE
            
        input(type="number" id="my-quantity")
        
  
      a.addtocart-cta(href="")
        button(
          class="snipcart-add-item"
          id="my-button"
          data-item-id="SUPERDIK-MEDIUM"
          data-item-name="{{page.title}}"
          data-item-price="{{page.itemprice}}"
          data-item-url="{{page.url}}"
          data-item-description="{{page.description}}"
          data-item-quantity="10"
          data-item-custom1-name="Maat"
          data-item-custom1-options="Small|Medium|Large|SuperLarge"
          data-item-custom1-required="true"
          data-item-custom2-name="Kleur"
          data-item-custom2-options="Zwart|Wit|Rood|Groen"
          ) IN DE WINKELMAND
